*{
  margin: 0;
  padding: 0;
}
nav{
  background: rgba(4, 184, 255, 0.952);
}
ul{
  display: flex;
  gap:40px;
  justify-content: center;
  list-style: none;
  padding: 20px 0px;
  font-size: 20px;
  color: white;
 
}
li{
  cursor: pointer;
}